{% extends 'base.html.twig' %}

{% block title %}Carrusel - ELISATester{% endblock %}

{% block body %}
<!-- Carrusel -->
<div class="carousel-container">
    <div class="carousel">
        <button class="carousel-btn prev" id="prev-btn">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="carousel-inner">
            <div class="carousel-item active" data-text="Carga tu imagen" data-link="{{ path('app_image_upload') }}">
                <a href="{{ path('app_image_upload') }}">
                    <img src="images/img-1.png" alt="Image 1">
                </a>
            </div>
            <div class="carousel-item" data-text="Obtén los resultados" data-link="{{ path('app_test_list') }}">
                <a href="{{ path('app_test_list') }}">
                    <img src="images/img-2.png" alt="Image 2">
                </a>
            </div>
            <div class="carousel-item" data-text="Consulta tu informe" data-link="{{ path('app_test_list') }}">
                <a href="{{ path('app_test_list') }}">
                    <img src="images/img-3.png" alt="Image 3">
                </a>
            </div>
        </div>
        <button class="carousel-btn next" id="next-btn">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
    <div class="carousel-caption"></div>
<!-- Botón para abrir el modal de descargo de responsabilidad -->
    <button id="disclaimer" class="form-button">Descargo de responsabilidad</button>
</div>

<!-- Modal de descargo de responsabilidad -->
<div id="modal-disclaimer" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000; justify-content: center; align-items: center;">
    <div style="background: white; width: 50%; padding: 20px; border-radius: 8px; position: relative; text-align: center;">
        <h2>Descargo de responsabilidad</h2>
        <br>
        <p style="text-align: left;">Esta aplicación esta desarrollada específicamente para el análisis de Test ELISA para detectar la enfermedad de Leishmaniasis.</p>
        <p style="text-align: left;">La misma en ningún caso debería ser considerada un instrumento profesional para este tipo de detección.</p>
        <p style="text-align: left;">El funcionamiento correcto de la aplicación se encuentra ligado al cumplimiento estricto de los siguientes requisitos.</p>
        <p style="text-align: left;">- La foto de la placa se debe realizar sobre un fondo blanco</p>
        <p style="text-align: left;">- La foto debe tomarse con el celular o cámara paralelo a la placa con una distancia de entre 35cm y 50cm</p>
        <p style="text-align: left;">- La resolución de la foto resultante debe ser de al menos 512x512px</p>
        <p style="text-align: left;">- La foto no debe tomarse en condiciones de iluminación extremas, ya sea con mucha o poca exposición</p>
        <br>
        <button id="closeModalDisclaimer" type="button" class="form-button">Cerrar</button>
    </div>
</div>

<div class="blur-bg-overlay"></div>

<!-- Estilos para el botón "Cerrar" -->
<style>
    .custom-button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .custom-button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .custom-button:active {
        background-color: #004085;
    }

    .custom-button:focus {
        outline: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener elementos
        const disclaimerButton = document.getElementById('disclaimer');
        const modalDisclaimer = document.getElementById('modal-disclaimer');
        const closeModalDisclaimer = document.getElementById('closeModalDisclaimer');

        // Verificar si se obtiene el botón correctamente
        if (disclaimerButton) {
            // Mostrar el modal
            disclaimerButton.addEventListener('click', function() {
                modalDisclaimer.style.display = 'flex';
            });

            // Cerrar el modal
            closeModalDisclaimer.addEventListener('click', function() {
                modalDisclaimer.style.display = 'none';
            });

            // Cerrar el modal si se hace clic fuera de la caja del modal
            window.addEventListener('click', function(event) {
                if (event.target === modalDisclaimer) {
                    modalDisclaimer.style.display = 'none';
                }
            });
        } else {
            console.error('No se encontraron los elementos del modal o el botón.');
        }
    });
</script>

{% endblock %}
