{% extends 'base.html.twig' %}

{% block title %}Carrusel - ELISATester{% endblock %}

{% block body %}

<!-- Carrusel -->
<div class="carousel-container">
    <div class="carousel">
        <button class="carousel-btn prev" id="prev-btn">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="carousel-inner">
            <div class="carousel-item active" data-text="Carga tu imagen" data-link="{{ path('app_image_upload') }}">
                <a href="{{ path('app_image_upload') }}">
                    <img src="images/img-1.png" alt="Image 1">
                </a>
            </div>
            <div class="carousel-item" data-text="Obtén los resultados" data-link="{{ path('app_test_list') }}">
                <a href="{{ path('app_test_list') }}">
                    <img src="images/img-2.png" alt="Image 2">
                </a>
            </div>
            <div class="carousel-item" data-text="Consulta tu informe" data-link="{{ path('app_test_list') }}">
                <a href="{{ path('app_test_list') }}">
                    <img src="images/img-3.png" alt="Image 3">
                </a>
            </div>
        </div>
        <button class="carousel-btn next" id="next-btn">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
    <div class="carousel-caption"></div>
</div>

<div class="blur-bg-overlay"></div>
{% endblock %}
