<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ELISATester{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}?v={{ random() }}">
    <script src="{{ asset('js/base.js') }}"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <span class="menu-btn material-symbols-rounded">menu</span>
            <a href="{{path('app_index')}}" class="logo">
                <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo-img">
                <h2>ELISATester</h2>
            </a>
            <ul class="nav-links">
                <li><a href="{{path('app_index')}}">Inicio</a></li>
                <li><a href="{{path('app_image_upload')}}">Carga</a></li>
                <li><a href="{{ path('app_test_list') }}">Resultados</a></li>
                <li><a href="{{ path('app_index') }}">Contacto</a></li>
            </ul>
            {% if app.user %}
                <span>{{ app.user.nombre }} {{ app.user.apellido }}</span>
            {% else %}
                <button class="login-btn" onclick="window.location.href='{{ path('app_login') }}'">Iniciar Sesión</button>
            {% endif %}
        </nav>
    </header>

    <!-- Aquí va el contenido de la página -->
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>