<!DOCTYPE html>
<html>
    <head>
        <style>{{ css|raw }}</style>
    </head>
    <body>
        <div class="row">
            <img src="{{ logoBase64 }}" alt="logo" class="logo-img">
            <h1 class="h1" style="margin-left: 20px; margin-top: 20px;">ELISATester</h1>
        </div>
        <hr>
        <p><strong>Nombre:</strong> {{ test.nombreAlt }}</p>
        <p><strong>Usuario:</strong> {{ test.usuario.nombreCompleto }}</p>
        <p><strong>Fecha y hora de realización:</strong> {{ test.fechaHora|date('d/m/Y H:i') }}</p>
        <p><strong>Descripción:</strong> {{ test.descripcion }}</p>
        <div class="image-container">
            <img src="{{ imagenBase64 }}" alt="Resultado">
        </div>
        <br>
        <table>
            <tr>
                <td><img src="{{ referencias[2] }}" class="ref-container"></td>
                <td><strong>Negativo</strong></td>
            </tr>
            <tr>
                <td><img src="{{ referencias[0] }}" class="ref-container"></td>
                <td><strong>Positivo</strong></td>
            </tr>
            <tr>
                <td><img src="{{ referencias[1] }}" class="ref-container"></td>
                <td>
                    <strong>Posible</strong><br>
                    <span>(volver a testear o verificar con otro método)</span>
                </td>
            </tr>
        </table>
    </body>
</html>
